.navbar2-wrapper {
  display: contents;
}
.navbar2-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar2-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.navbar2-image1 {
  height: 3rem;
}
.navbar2-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navbar2-links1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar2-burger-menu {
  display: none;
}
.navbar2-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar2-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar2-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar2-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar2-logo {
  height: 3rem;
}
.navbar2-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar2-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar2-links2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.navbar2-icon-group {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
.about-fragment11 {
  display: contents;
}
.about-text11 {
  display: inline-block;
}
.about-fragment14 {
  display: contents;
}
.about-text14 {
  display: inline-block;
}
.about-fragment13 {
  display: contents;
}
.about-text13 {
  display: inline-block;
}
.about-fragment12 {
  display: contents;
}
.about-text12 {
  display: inline-block;
}
.about-fragment10 {
  display: contents;
}
.about-text10 {
  display: inline-block;
}
.navbar2root-class-name1 {
  width: auto;
  align-self: flex-start;
}
@media(max-width: 767px) {
  .navbar2-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar2-desktop-menu {
    display: none;
  }
  .navbar2-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .navbar2-navbar-interactive {
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
  }
  .navbar2-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}

.hero8-wrapper {
  display: contents;
}
.hero8-header26 {
  gap: var(--dl-space-space-twounits);
}
.hero8-max-width {
  align-self: center;
}
.hero8-column {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.hero8-content {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.hero8-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.about-fragment16 {
  display: contents;
}
.about-text16 {
  display: inline-block;
}
.about-fragment15 {
  display: contents;
}
.about-text15 {
  display: inline-block;
}
.about-fragment17 {
  display: contents;
}
.about-text17 {
  display: inline-block;
}
.about-fragment18 {
  display: contents;
}
.about-text18 {
  display: inline-block;
  text-align: center;
}
@media(max-width: 479px) {
  .hero8-actions {
    width: 100%;
    flex-direction: column;
  }
  .hero8-button1 {
    width: 100%;
  }
  .hero8-button2 {
    width: 100%;
  }
}

.stats2-wrapper {
  display: contents;
}
.stats2-container1 {
  width: 100%;
  flex-direction: column;
}
.stats2-max-width {
  gap: var(--dl-space-space-fourunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
}
.stats2-container2 {
  max-width: 50%;
}
.stats2-container3 {
  align-self: center;
  align-items: flex-start;
  margin-left: auto;
}
.stats2-container4 {
  width: 100%;
}
.stats2-container5 {
  width: 100%;
  height: 100%;
  align-items: flex-start;
}
.stats2-container6 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.about-fragment19 {
  display: contents;
}
.about-text19 {
  display: inline-block;
}
.about-fragment22 {
  display: contents;
}
.about-text22 {
  display: inline-block;
}
.about-fragment21 {
  display: contents;
}
.about-text21 {
  display: inline-block;
}
.about-fragment20 {
  display: contents;
}
.about-text20 {
  display: inline-block;
}
@media(max-width: 1600px) {
  .stats2-container5 {
    width: 768px;
  }
}
@media(max-width: 991px) {
  .stats2-max-width {
    gap: var(--dl-space-space-twounits);
    align-items: flex-start;
    flex-direction: column;
  }
  .stats2-container2 {
    width: 100%;
    max-width: 100%;
  }
  .stats2-container3 {
    align-self: flex-start;
    margin-left: 0px;
  }
}
@media(max-width: 479px) {
  .stats2-image {
    width: 100%;
  }
}

.features1-wrapper {
  display: contents;
}
.features1-layout251 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.features1-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.features1-column {
  gap: var(--dl-space-space-halfunit);
  align-items: flex-start;
  flex-shrink: 0;
}
.features1-content1 {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.features1-row {
  align-items: flex-start;
}
.features1-feature1 {
  flex: 1;
}
.features1-content2 {
  align-self: stretch;
  align-items: flex-start;
}
.features1-feature2 {
  flex: 1;
}
.features1-content3 {
  align-self: stretch;
  align-items: flex-start;
}
.features1-feature3 {
  flex: 1;
}
.features1-content4 {
  align-self: stretch;
  align-items: flex-start;
}
.features1-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.about-fragment28 {
  display: contents;
}
.about-text30 {
  display: inline-block;
}
.about-fragment32 {
  display: contents;
}
.about-text34 {
  display: inline-block;
}
.about-fragment24 {
  display: contents;
}
.about-text26 {
  display: inline-block;
}
.about-fragment31 {
  display: contents;
}
.about-text33 {
  display: inline-block;
}
.about-fragment25 {
  display: contents;
}
.about-text27 {
  display: inline-block;
}
.about-fragment27 {
  display: contents;
}
.about-text29 {
  display: inline-block;
}
.about-fragment29 {
  display: contents;
}
.about-text31 {
  display: inline-block;
}
.about-fragment30 {
  display: contents;
}
.about-text32 {
  display: inline-block;
}
.about-fragment26 {
  display: contents;
}
.about-text28 {
  display: inline-block;
}
.about-fragment23 {
  display: contents;
}
.about-text23 {
  display: inline-block;
}
.features1root-class-name {
  top: 0px;
  left: 0px;
  position: static;
}

@media(max-width: 991px) {
  .features1-section-title {
    align-items: flex-start;
    flex-direction: column;
  }
  .features1-feature1-image {
    height: 260px;
  }
  .features1-feature2-image {
    height: 260px;
  }
  .features1-feature3-image {
    height: 260px;
  }
}
@media(max-width: 767px) {
  .features1-column {
    width: 100%;
  }
  .features1-row {
    flex-direction: column;
  }
  .features1-feature1-image {
    width: 100%;
  }
  .features1-feature2 {
    width: auto;
  }
  .features1-feature2-image {
    width: 100%;
  }
  .features1-feature3 {
    width: auto;
  }
  .features1-actions {
    flex-wrap: wrap;
  }
  .about-text26 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .features1-actions {
    width: 100%;
    flex-direction: column;
  }
  .features1-button1 {
    width: 100%;
  }
  .features1-button2 {
    width: 100%;
  }
}

.team1-wrapper {
  display: contents;
}
.team1-max-width {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.team1-section-title {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team1-content10 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team1-content11 {
  gap: var(--dl-space-space-sixunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team1-content12 {
  gap: 64px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.team1-row1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.team1-container1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.team1-card1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team1-placeholder-image1 {
  width: 80px;
  height: 80px;
}
.team1-content13 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team1-title1 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team1-social-icons1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team1-card2 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team1-placeholder-image2 {
  width: 80px;
  height: 80px;
}
.team1-content14 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team1-title2 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team1-social-icons2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team1-container2 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.team1-card3 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team1-placeholder-image3 {
  width: 80px;
  height: 80px;
}
.team1-content15 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team1-title3 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team1-social-icons3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team1-card4 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team1-placeholder-image4 {
  width: 80px;
  height: 80px;
}
.team1-content16 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team1-title4 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team1-social-icons4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team1-row2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.team1-container3 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.team1-card5 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team1-placeholder-image5 {
  width: 80px;
  height: 80px;
}
.team1-content17 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team1-title5 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team1-social-icons5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team1-card6 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team1-placeholder-image6 {
  width: 80px;
  height: 80px;
}
.team1-content18 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team1-title6 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team1-social-icons6 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team1-container4 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.team1-card7 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team1-placeholder-image7 {
  width: 80px;
  height: 80px;
}
.team1-content19 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team1-title7 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team1-social-icons7 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team1-card8 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team1-placeholder-image8 {
  width: 80px;
  height: 80px;
}
.team1-content20 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team1-title8 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team1-social-icons8 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team1-content21 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-direction: column;
}
.team1-content22 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team1-button {
  width: 100%;
  max-width: 300px;
}
.about-fragment43 {
  display: contents;
}
.about-text47 {
  display: inline-block;
}
.about-fragment42 {
  display: contents;
}
.about-text44 {
  display: inline-block;
}
.about-fragment57 {
  display: contents;
}
.about-text61 {
  display: inline-block;
  text-align: center;
}
.about-fragment37 {
  display: contents;
}
.about-text39 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.about-fragment60 {
  display: contents;
}
.about-text64 {
  display: inline-block;
  text-align: center;
}
.about-fragment40 {
  display: contents;
}
.about-text42 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.about-fragment35 {
  display: contents;
}
.about-text37 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.about-fragment41 {
  display: contents;
}
.about-text43 {
  display: inline-block;
}
.about-fragment45 {
  display: contents;
}
.about-text49 {
  display: inline-block;
  text-align: center;
}
.about-fragment50 {
  display: contents;
}
.about-text54 {
  display: inline-block;
  text-align: center;
}
.about-fragment55 {
  display: contents;
}
.about-text59 {
  display: inline-block;
  text-align: center;
}
.about-fragment53 {
  display: contents;
}
.about-text57 {
  display: inline-block;
  text-align: center;
}
.about-fragment39 {
  display: contents;
}
.about-text41 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.about-fragment48 {
  display: contents;
}
.about-text52 {
  display: inline-block;
  text-align: center;
}
.about-fragment36 {
  display: contents;
}
.about-text38 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.about-fragment58 {
  display: contents;
}
.about-text62 {
  display: inline-block;
  text-align: center;
}
.about-fragment51 {
  display: contents;
}
.about-text55 {
  display: inline-block;
  text-align: center;
}
.about-fragment54 {
  display: contents;
}
.about-text58 {
  display: inline-block;
  text-align: center;
}
.about-fragment59 {
  display: contents;
}
.about-text63 {
  display: inline-block;
  text-align: center;
}
.about-fragment56 {
  display: contents;
}
.about-text60 {
  display: inline-block;
  text-align: center;
}
.about-fragment52 {
  display: contents;
}
.about-text56 {
  display: inline-block;
}
.about-fragment38 {
  display: contents;
}
.about-text40 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.about-fragment33 {
  display: contents;
}
.about-text35 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.about-fragment34 {
  display: contents;
}
.about-text36 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.about-fragment44 {
  display: contents;
}
.about-text48 {
  display: inline-block;
  text-align: center;
}
.about-fragment47 {
  display: contents;
}
.about-text51 {
  display: inline-block;
  text-align: center;
}
.about-fragment46 {
  display: contents;
}
.about-text50 {
  display: inline-block;
  text-align: center;
}
.about-fragment49 {
  display: contents;
}
.about-text53 {
  display: inline-block;
  text-align: center;
}
@media(max-width: 991px) {
  .team1-content11 {
    gap: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .team1-row1 {
    align-items: center;
    flex-direction: column;
  }
  .team1-row2 {
    align-items: center;
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .team1-container1 {
    flex-direction: column;
  }
  .team1-container2 {
    flex-direction: column;
  }
  .team1-container3 {
    flex-direction: column;
  }
  .team1-container4 {
    flex-direction: column;
  }
  .team1-button {
    width: 100%;
  }
  .about-text47 {
    text-align: center;
  }
  .about-text44 {
    text-align: center;
  }
  .about-text43 {
    text-align: center;
  }
}

.contact1-wrapper {
  display: contents;
}
.contact1-contact20 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
}
.contact1-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.contact1-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.contact1-contact-info1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact1-content2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact1-text10 {
  align-self: stretch;
  text-align: center;
}
.contact1-content3 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.contact1-contact-info2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact1-content4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact1-text12 {
  align-self: stretch;
  text-align: center;
}
.contact1-content5 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.contact1-contact-info3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact1-content6 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact1-text14 {
  align-self: stretch;
  text-align: center;
}
.about-fragment64 {
  display: contents;
}
.about-text68 {
  display: inline-block;
  text-align: center;
}
.about-fragment62 {
  display: contents;
}
.about-text66 {
  display: inline-block;
  text-align: center;
}
.about-fragment65 {
  display: contents;
}
.about-text69 {
  display: inline-block;
  text-align: center;
}
.about-fragment66 {
  display: contents;
}
.about-text70 {
  display: inline-block;
  text-align: center;
}
.about-fragment63 {
  display: contents;
}
.about-text67 {
  display: inline-block;
  text-align: center;
}
.about-fragment61 {
  display: contents;
}
.about-text65 {
  display: inline-block;
  text-align: center;
}

.contact1root-class-name1 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
@media(max-width: 767px) {
  .contact1-max-width {
    flex-direction: column;
  }
}

.footer4-wrapper {
  display: contents;
}
.footer4-footer7 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.footer4-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer4-content {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer4-logo1 {
  gap: 24px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.footer4-logo2 {
  height: 2rem;
}
.footer4-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
}
.footer4-credits {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.footer4-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.footer4-container {
  display: flex;
  align-items: flex-start;
}
.footer4-footer-links {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.about-fragment70 {
  display: contents;
}
.about-text74 {
  display: inline-block;
}
.about-fragment71 {
  display: contents;
}
.about-text75 {
  display: inline-block;
}
.about-fragment67 {
  display: contents;
}
.about-text71 {
  display: inline-block;
}
.about-fragment68 {
  display: contents;
}
.about-text72 {
  display: inline-block;
}
.about-fragment73 {
  display: contents;
}
.about-text77 {
  display: inline-block;
}
.about-fragment72 {
  display: contents;
}
.about-text76 {
  display: inline-block;
}
.about-fragment69 {
  display: contents;
}
.about-text73 {
  display: inline-block;
}
.about-fragment74 {
  display: contents;
}
.about-text78 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
}

@media(max-width: 767px) {
  .footer4-row {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .footer4-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer4-links {
    flex-direction: column;
  }
  .footer4-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.about-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.about-fragment10 {
  display: contents;
}
.about-text10 {
  display: inline-block;
}
.about-fragment11 {
  display: contents;
}
.about-text11 {
  display: inline-block;
}
.about-fragment12 {
  display: contents;
}
.about-text12 {
  display: inline-block;
}
.about-fragment13 {
  display: contents;
}
.about-text13 {
  display: inline-block;
}
.about-fragment14 {
  display: contents;
}
.about-text14 {
  display: inline-block;
}
.about-fragment15 {
  display: contents;
}
.about-text15 {
  display: inline-block;
}
.about-fragment16 {
  display: contents;
}
.about-text16 {
  display: inline-block;
}
.about-fragment17 {
  display: contents;
}
.about-text17 {
  display: inline-block;
}
.about-fragment18 {
  display: contents;
}
.about-text18 {
  display: inline-block;
  text-align: center;
}
.about-fragment19 {
  display: contents;
}
.about-text19 {
  display: inline-block;
}
.about-fragment20 {
  display: contents;
}
.about-text20 {
  display: inline-block;
}
.about-fragment21 {
  display: contents;
}
.about-text21 {
  display: inline-block;
}
.about-fragment22 {
  display: contents;
}
.about-text22 {
  display: inline-block;
}
.about-fragment23 {
  display: contents;
}
.about-text23 {
  display: inline-block;
}
.about-fragment24 {
  display: contents;
}
.about-text26 {
  display: inline-block;
}
.about-fragment25 {
  display: contents;
}
.about-text27 {
  display: inline-block;
}
.about-fragment26 {
  display: contents;
}
.about-text28 {
  display: inline-block;
}
.about-fragment27 {
  display: contents;
}
.about-text29 {
  display: inline-block;
}
.about-fragment28 {
  display: contents;
}
.about-text30 {
  display: inline-block;
}
.about-fragment29 {
  display: contents;
}
.about-text31 {
  display: inline-block;
}
.about-fragment30 {
  display: contents;
}
.about-text32 {
  display: inline-block;
}
.about-fragment31 {
  display: contents;
}
.about-text33 {
  display: inline-block;
}
.about-fragment32 {
  display: contents;
}
.about-text34 {
  display: inline-block;
}
.about-fragment33 {
  display: contents;
}
.about-text35 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.about-fragment34 {
  display: contents;
}
.about-text36 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.about-fragment35 {
  display: contents;
}
.about-text37 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.about-fragment36 {
  display: contents;
}
.about-text38 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.about-fragment37 {
  display: contents;
}
.about-text39 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.about-fragment38 {
  display: contents;
}
.about-text40 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.about-fragment39 {
  display: contents;
}
.about-text41 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.about-fragment40 {
  display: contents;
}
.about-text42 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.about-fragment41 {
  display: contents;
}
.about-text43 {
  display: inline-block;
}
.about-fragment42 {
  display: contents;
}
.about-text44 {
  display: inline-block;
}
.about-fragment43 {
  display: contents;
}
.about-text47 {
  display: inline-block;
}
.about-fragment44 {
  display: contents;
}
.about-text48 {
  display: inline-block;
  text-align: center;
}
.about-fragment45 {
  display: contents;
}
.about-text49 {
  display: inline-block;
  text-align: center;
}
.about-fragment46 {
  display: contents;
}
.about-text50 {
  display: inline-block;
  text-align: center;
}
.about-fragment47 {
  display: contents;
}
.about-text51 {
  display: inline-block;
  text-align: center;
}
.about-fragment48 {
  display: contents;
}
.about-text52 {
  display: inline-block;
  text-align: center;
}
.about-fragment49 {
  display: contents;
}
.about-text53 {
  display: inline-block;
  text-align: center;
}
.about-fragment50 {
  display: contents;
}
.about-text54 {
  display: inline-block;
  text-align: center;
}
.about-fragment51 {
  display: contents;
}
.about-text55 {
  display: inline-block;
  text-align: center;
}
.about-fragment52 {
  display: contents;
}
.about-text56 {
  display: inline-block;
}
.about-fragment53 {
  display: contents;
}
.about-text57 {
  display: inline-block;
  text-align: center;
}
.about-fragment54 {
  display: contents;
}
.about-text58 {
  display: inline-block;
  text-align: center;
}
.about-fragment55 {
  display: contents;
}
.about-text59 {
  display: inline-block;
  text-align: center;
}
.about-fragment56 {
  display: contents;
}
.about-text60 {
  display: inline-block;
  text-align: center;
}
.about-fragment57 {
  display: contents;
}
.about-text61 {
  display: inline-block;
  text-align: center;
}
.about-fragment58 {
  display: contents;
}
.about-text62 {
  display: inline-block;
  text-align: center;
}
.about-fragment59 {
  display: contents;
}
.about-text63 {
  display: inline-block;
  text-align: center;
}
.about-fragment60 {
  display: contents;
}
.about-text64 {
  display: inline-block;
  text-align: center;
}
.about-fragment61 {
  display: contents;
}
.about-text65 {
  display: inline-block;
  text-align: center;
}
.about-fragment62 {
  display: contents;
}
.about-text66 {
  display: inline-block;
  text-align: center;
}
.about-fragment63 {
  display: contents;
}
.about-text67 {
  display: inline-block;
  text-align: center;
}
.about-fragment64 {
  display: contents;
}
.about-text68 {
  display: inline-block;
  text-align: center;
}
.about-fragment65 {
  display: contents;
}
.about-text69 {
  display: inline-block;
  text-align: center;
}
.about-fragment66 {
  display: contents;
}
.about-text70 {
  display: inline-block;
  text-align: center;
}
.about-fragment67 {
  display: contents;
}
.about-text71 {
  display: inline-block;
}
.about-fragment68 {
  display: contents;
}
.about-text72 {
  display: inline-block;
}
.about-fragment69 {
  display: contents;
}
.about-text73 {
  display: inline-block;
}
.about-fragment70 {
  display: contents;
}
.about-text74 {
  display: inline-block;
}
.about-fragment71 {
  display: contents;
}
.about-text75 {
  display: inline-block;
}
.about-fragment72 {
  display: contents;
}
.about-text76 {
  display: inline-block;
}
.about-fragment73 {
  display: contents;
}
.about-text77 {
  display: inline-block;
}
.about-fragment74 {
  display: contents;
}
.about-text78 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
}
@media(max-width: 767px) {
  .about-text26 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .about-text43 {
    text-align: center;
  }
  .about-text44 {
    text-align: center;
  }
  .about-text47 {
    text-align: center;
  }
}
