.contact141-contact20 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
}
.contact141-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.contact141-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.contact141-contact-info1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact141-content2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact141-content3 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.contact141-icon3 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.contact141-contact-info2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact141-content5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact141-content6 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.contact141-contact-info3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact141-content7 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact141-content8 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.contact141-contact-info4 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact141-content9 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact141-fragment10 {
  display: contents;
}
.contact141-text17 {
  display: inline-block;
  text-align: center;
}
.contact141-fragment11 {
  display: contents;
}
.contact141-text18 {
  display: inline-block;
  text-align: center;
}
.contact141-fragment12 {
  display: contents;
}
.contact141-text19 {
  display: inline-block;
  align-self: stretch;
  text-align: center;
}
.contact141-fragment13 {
  display: contents;
}
.contact141-text20 {
  display: inline-block;
  text-align: center;
}
.contact141-fragment14 {
  display: contents;
}
.contact141-text21 {
  display: inline-block;
  text-align: center;
}
.contact141-fragment15 {
  display: contents;
}
.contact141-text22 {
  display: inline-block;
  text-align: center;
}
.contact141-fragment16 {
  display: contents;
}
.contact141-text23 {
  display: inline-block;
  align-self: stretch;
  text-align: center;
}
.contact141-fragment17 {
  display: contents;
}
.contact141-text24 {
  display: inline-block;
  align-self: stretch;
  text-align: center;
}
.contact141-fragment18 {
  display: contents;
}
.contact141-text25 {
  display: inline-block;
  text-align: center;
}
.contact141-fragment19 {
  display: contents;
}
.contact141-text26 {
  display: inline-block;
  align-self: stretch;
  text-align: center;
}
.contact141-fragment20 {
  display: contents;
}
.contact141-text27 {
  display: inline-block;
  text-align: center;
}
.contact141-fragment21 {
  display: contents;
}
.contact141-text28 {
  display: inline-block;
  text-align: center;
}
@media(max-width: 767px) {
  .contact141-max-width {
    flex-direction: column;
  }
}
